<h2> le numero de l'objet estimer est le {{id}}</h2>

    <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmitr()"
        #f="ngForm"
        novalidate
      >
      <div class="form-group">
        <label for="price">Price</label>
        <input
          type="text"
          class="form-control"
          name="price"
          [(ngModel)]="data.price"
          required
          #price="ngModel"
        />
        <h3> Vous pouvez modifier les coordonnées si dessous si vous ne les trouvez pas bonne ou vous pouvez juste valider</h3>
        <label for="username">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="data.name"
          minlength="3"
          maxlength="20"
          #name="ngModel"
        />
        <div class="alert-danger" *ngIf="name.errors && f.submitted">
          <div *ngIf="name.errors['minlength']">
            name must be at least 3 characters
          </div>
          <div *ngIf="name.errors['maxlength']">
            name must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="brand">Marque</label>
        <input
          type="text"
          class="form-control"
          name="brand"
          [(ngModel)]="data.brand"
          minlength="3"
          maxlength="20"
          #brand="ngModel"
        />
        <div class="alert-danger" *ngIf="brand.errors && f.submitted">
          <div *ngIf="brand.errors['minlength']">
            brand must be at least 3 characters
          </div>
          <div *ngIf="brand.errors['maxlength']">
            brand must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="etat_du_produit">Etat du produit</label>
        <input
          type="text"
          class="form-control"
          name="etat_du_produit"
          [(ngModel)]="data.etat_du_produit"
          #etat_du_produit="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="date">date</label>
        <input
          type="date"
          class="form-control"
          name="date"
          [(ngModel)]="data.date"
          #date="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="categorie">categorie</label>
        <input
          type="text"
          class="form-control"
          name="categorie"
          [(ngModel)]="data.categorie"
          minlength="2"
          #categorie="ngModel"
        />
      </div>
      <div class="form-group">
        <label for="description">description</label>
        <input
          type="text"
          class="form-control"
          name="description"
          [(ngModel)]="data.description"
          minlength="10"
          #description="ngModel"
        />
        <div class="alert-danger" *ngIf="description.errors && f.submitted">
          <div *ngIf="description.errors['minlength']">
            description must be at least 10 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block" click="onSubmitr()">Update</button>
      </div>
      <div class="alert alert-warning" *ngIf="f.submitted && isFailed">
        estimation failed!<br />{{ errorMessage }}
      </div>
      <div class="alert alert-warning" *ngIf="f.submitted && isSuccessful">
        <p>your estimation is save and successful</p>
      </div>
    </form>
    <div >
      <button class="btn btn-primary btn-block" (click)="onDelete()">Delete</button>
    </div>