<div class="container">
    <header class="jumbotron">
      <h2>{{ content }} List of estimations :</h2>
    </header>
     <table>
      <tbody>
        <tr *ngFor="let estimation of data">
          <div class="card col-sm-3 row" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{estimation.name}}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">id : {{estimation.id}}</li>
              <li class="list-group-item">marque : {{estimation.brand}}</li>
              <li class="list-group-item">nom de l'objet : {{estimation.name}}</li>
              <li class="list-group-item">etat du produit : {{estimation.etat_du_produit}}</li>
              <li class="list-group-item">prix : {{estimation.price}}</li>
              <li class="list-group-item">date : {{estimation.date | date: 'yyyy-MM-dd'}}</li>
            </ul>
            <div class="card-body ">
              <button class="btn btn-primary btn-block " [routerLink]="['/put', estimation.id]">edit </button>
              <button class="btn btn-primary btn-block" (click)="onDelete(estimation.id)">Delete</button>
          </div>
    </div>
        </tr>
      </tbody>
    </table>
  </div>