<div>
    <button routerLink="/panier">Panier</button>
    <h1>HOME</h1>
    <button>messages</button>
    <button routerLink="/profil">profil</button>
</div>

<h1>Demande d'estimation</h1>

<div>
    <label for="nameobj">Nom de l'objet: </label>
    <input id="nomobj"/>
</div>
<div>
    <label for="ctg">Categories: </label>
    <input id="ctginput"/>
</div>
<div>
    <label for="etat">Etat du produit: </label>
    <input id="etatproduit"/>
</div>
<div>
    <label for="date de production">date de production (optionnel): </label>
    <input id="ddp"/>
</div>
<div>
    <label for="brand">marque du produit: </label>
    <input id="marque"/>
</div>
<div>
    <h2>image</h2>
</div>
<div>
    <label for="descript">Description: </label>
    <input id="desc"/>
</div>
<button>Ajouter au panier</button>
<button>Acheter en 1 clic</button>
