<div>
    <h1>Faire une Estimation</h1>
</div>

<div class= "spacebet">
    <label for="nameobj">Nom de l'objet: </label>
    <input id="nomobj"/>
</div>
<div class= "spacebet">
    <label for="ctg">Categories: </label>
    <input id="ctginput"/>
</div>
<div class= "spacebet">
    <label for="etat">Etat du produit: </label>
    <input id="etatproduit"/>
</div>
<div class= "spacebet">
    <label for="date de production">date de production (optionnel): </label>
    <input id="ddp"/>
</div>
<div class= "spacebet">
    <label for="brand">marque du produit: </label>
    <input id="marque"/>
</div>
<div class= "spacebet">
    <label for="brand">image : </label>
    <img src="../../assets/Image/index.jpg" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"/>
</div>
<div class= "spacebet">
    <label for="descript">Description: </label>
    <textarea id="desc">your description </textarea>
    <button>Envoyer pour l'estimation</button>
</div>